<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>Band Tracker</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Edit a Band Record</h3>
        <h5>Current Name: @Model.GetName()</h5>
        <form action='/band/@Model.GetId()' method="post">
          <input type="hidden" name="_method" value="PATCH">
          <div class="form-group">
            <label for="newName">New name:</label>
            <input type="text" name="newName" required>
          </div>
          <button type="submit" class="btn btn-primary">Edit Band</button>
        </form>
        <h4>-OR-</h4>
        <form action="/band/@Model.GetId()" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Delete this Band</button>
        </form>
        <hr>
        <p><a href="/">Homepage</a></p>
      </div>
    </div>
  </div>
