<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>Band Tracker</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Add New Band</h3>
        <form action="/band/new" method="post">
          <div class="form-group">
            <label for="bandName">Band name:</label>
            <input type="text" name="bandName" required>
          </div>
          <button type="submit" class="btn btn-primary">Create Band</button>
        </form>
        <hr>
        <p><a href="/">Homepage</a></p>
      </div>
    </div>
  </div>
